{
    "security": {
        "RAINBIRD_SERVER": "127.0.0.1",
        "RAINBIRD_PASSWORD": "Password"
    },
    "stations": {
        "1": {"name": "Garden Box Bubblers"},
        "2": {"name": "Left Rear Garden Box"},
        "3": {"name": "Rear Right Idle (red)"},
        "4": {"name": "Rear Right Veg and Berm"},
        "5": {"name": "Rear Right Side (black)"},
        "6": {"name": "Left Far Planter Drip"},
        "7": {"name": "Rear Near Spray"},
        "8": {"name": "Rear Rose Garden"},
        "9": {"name": "Left Redwood Sprays"},
        "10": {"name": "Rear Far Sprays"},
        "11": {"name": "Hillside Trees (green)"},
        "12": {"name": "Rear Right Redwoods (blue)"},
        "13": {"name": "Hose"},
        "16": {"name": "Front Spray by House"},
        "17": {"name": "Front Right Spray"},
        "18": {"name": "Front Parkway Spray"},
        "19": {"name": "Front Fence Spray"},
        "20": {"name": "Front Yard Left Drip"},
        "21": {"name": "Front Yard Right Drip"},
        "22": {"name": "Driveway Edge Spray"}
    }
}
