#time {
    width: 90px;
}

tr {
    font-size: 20;
    font-weight: 700;
}

.toptd {
    border-top: 2px solid black;
}

#flash {
    position: absolute;
    top: 0;
    left: 0;
    background-color: green;
    height: 100%;
    width: 100%;
    visibility: hidden;
}
